<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BTN00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,0},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,0},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,0},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,0},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,267},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,267},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,267},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,267},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,534},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,534},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,534},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,534},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,801},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,801},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,801},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,801},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,1068},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,1068},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,1068},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,1068},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,1335},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,1335},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,1335},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,1335},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,1602},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,1602},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,1602},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,1602},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,1869},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,1869},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,1869},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,1869},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,2136},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,2136},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,2136},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,2136},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,2403},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,2403},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,2403},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,2403},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,2670},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,2670},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,2670},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,2670},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,2937},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,2937},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,2937},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,2937},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,3204},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,3204},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,3204},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,3204},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,3471},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,3471},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,3471},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,3471},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{0,3738},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{478,3738},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{956,3738},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,267}</string>
                <key>spriteSourceSize</key>
                <string>{478,267}</string>
                <key>textureRect</key>
                <string>{{1434,3738},{478,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bet_btn.png</string>
            <key>size</key>
            <string>{1912,4005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bf89902710669795518cf92732a8e50:490607c03be0908174f8566c2cc94255:ab82099d782314f464b21b77c50001e2$</string>
            <key>textureFileName</key>
            <string>Bet_btn.png</string>
        </dict>
    </dict>
</plist>
